.categories-cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.card {
  background-color: var(--background-secundary-color);
}

#title-categories h2 {
  padding-top: 88px;
  margin: 0;
}

.categories-cards header h3 {
  color: var(--text-primary-color);
  font-size: 28px;
  font-weight: var(--titles-weight);
  padding: 24px 0 0 0;
  margin: 0;
}

.card.categories {
  height: 220px;
}

.categories.transfer img {
  padding-top: 41px;
}

.categories.seguro-viagem img {
  padding-top: 17px;
}

@media screen and (min-width: 728px) {
  .categories-cards {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media screen and (min-width: 1024px) {
  article.card.categories {
    width: 335px;
  }
}

@media screen and (min-width: 1440px) {
  article.card.categories {
    width: 282px;
  }
}